@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    --primary-t: 'Poppins', sans-serif;
    --secondary-t: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
a { color: inherit; } 
#first {
    order: 1;
}
#second{
    order: 2;
}
img {
    height: auto;
    object-fit: cover;
    background-size: cover;
    height: 100% !important;
    z-index: 0;

}

.overlay {
    position: relative;

}

.overlay::after {
    content: '';
    position: absolute;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: linear-gradient(195.33deg, #3C65F8 35.83%, rgba(73, 62, 207, 0.72) 90.78%, rgba(10, 96, 159, 0.705208) 103.76%, rgba(8, 56, 113, 0) 103.97%);
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    text-align: center;
    z-index: 20;
    position: absolute;
    padding: 4.5em;
    color: #ffff;
    font-family: var(--primary-t);



}

.text-box h1 {
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.01em;
    font-size: 53px;
    font-family: var(--primary-t);
}

.text-box p {
    font-family: var(--secondary-t);
    font-size: 30px;
    line-height: 40px;
    margin-top: 3.5em;


}

.b-1 {
   
    position: absolute;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-top: -3.15em;
   
}

#first {
    padding-left: 4em;
    margin-top: 4em;
}

#first h1 {
    font-family: var(--primary-t);
    font-size: 5em;
}

#first label,
input {
    font-family: var(--secondary-t);
    font-size: 2em;
}

input {
    

    background: rgb(0, 0, 0) !important;
    border-radius: 19px !important;
    color: #ffff !important;

}

#first .form-control {
    width: 440px;
    height: 66px;
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.29);
}

#small_inp .form-control {
    width: 250px;
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.29);
}

::placeholder {
    color: rgb(250, 236, 236) !important;
    font-family: var(--secondary-t)!important;
}


.b-contain *,
.b-contain *::before,
.b-contain *::after {
    box-sizing: content-box !important;
}

.b-contain input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}



.b-contain {
    display: table;
    position: relative;
    padding-left: 1.8rem;
    cursor: pointer;
    margin-bottom: .4rem;
}

.b-contain input[type="checkbox"]~.b-input {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 2rem;
    width: 2rem;
    background: rgba(11, 11, 11, 1);
    transition: background 250ms;
    border: none;
    border-radius: 0.125rem;
}



.b-contain input[type="checkbox"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: 0.73rem;
    top: 0.56rem;
    width: 0.21rem;
    height: .6rem;
    border: solid rgba(244, 239, 239, 1);
    border-width: 0 2px 2px 0;
    transition: background 250ms;
    transform: rotate(45deg);
}




.b-contain input:checked~.b-input::after {
    display: block;
}


.b-contain input:checked:focus~.b-input,
.b-contain:hover input:not([disabled]):checked~.b-input {
    background: rgba(5, 5, 5, 0.84);
    border-color: rgba(9, 9, 9, 1);
}
#label-check{
    font-size: 1rem!important;
    margin-left: 3.4rem;
}
.b-2{
    background: #000506;
    border-radius: none!important;
    font-family: var(--secondary-t);
    font-size: 2rem;
    box-shadow: 12px 9px 20px rgba(0, 0, 0, 0.45);
    position: relative;
}

h2{
    font-family: var(--secondary-t);
    position: absolute;
    /* top: 12em; */
    margin-top: -6em;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width:1350px) {
    .register{
        position: relative;
        left: -4em;
    }
}






/*===================mobile view / android================*/
@media screen and (max-width: 450px) {
body{
    overflow-x:hidden;
    /* overflow-y:hidden; */
    /* overflow:hidden; */
}
#first{
    order: 2;
}

#second{
    order: 1;
}
#second h1{
   font-size: 2rem;
   line-height: 2.3rem; 
}
#second p{
font-size: 1.2rem;
line-height: 1.5rem;
}
#first h1{
font-size: 2.5rem;
}
#first label{
    font-size: 1.2rem;
}
#first .form-control{
    width: 17rem;
  
}
.b2{
    font-size: 10px!important;
}
h2{
    font-size: 1.7rem;
    margin-top: 2rem;
}
 .btn-1{
     position: relative;
top: 10rem!important;
width: 40em;

}
.btn-2{
    width: 20em;
}
}



